body {
    background-color: rgb(207, 213, 219);
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );    background-position: center center;
    background-size: cover;
    
}

.color {
    background-color: rgba(139, 58, 38, 0.776);
}

.container {
    border-radius: 15px;
}

.fondo_about {
    background-color: rgba(61, 106, 204, 0.311);
}
.titulo {
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
}

.perfil {
    width: 100%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 150px;
}

.descripcion {
    text-align: left;
    font-size: xx-large;
    font-family: Verdana ;
}

.descripcion_2 {
    font-size: x-large;
    font-family: Verdana ;
}

.lista {
    font-size: large;
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.espacio {
    margin-bottom: 30px;
}

.espacio2 {
    margin-bottom: 30px;   
}

.imagenes {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.font {
    font-size: 30px;
}

