body {
    background-color: rgb(207, 213, 219);
    background-image: url(imagenes/fondo2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: center center; */
    background-size: cover;
    
}

.color {
    background-color: #859ed9c6;
}

.container {
    border-radius: 15px;
    
}

.fondo_about {
    background-color: rgba(61, 106, 204, 0.967);
}
