body {
    background-color: rgb(207, 213, 219);
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );    background-position: center center;
    background-size: cover;
}

.color {
    background-color: #859ed9c6;
    
}

.prensentacion {
    height: 520px;
    padding-top: 5rem;
}

.avatar {
    height: 200px;
    margin-top: 50px;
    margin-left: 80px;
}


.descripcion {
    background-color: #859ed9;
    font-size: 30px;
    font-family: var(--bs-body-font-family);
    border-radius: 15px;
    text-align: center;
    width: 100%;
    
}

.nombre {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 80px;
    color: #68aae0;
}


