body {
    background-color: rgb(207, 213, 219);
    background-image: linear-gradient( 78.1deg,  rgba(177,14,236,1) 5.5%, rgba(255,19,15,1) 92.8% );
    background-position: center center;
    background-size: cover;
    

}

.color {
    background-color: rgba(111, 155, 249, 0);
    
}

.prensentacion {
    height: 520px;
    padding-top: 5rem;
}

.avatar {
    height: 200px;
    margin-top: 50px;
    margin-left: 80px;
}


.descripcion {
    background-color: #859ed9;
    font-size: 30px;
    font-family: var(--bs-body-font-family);
    border-radius: 15px;
    text-align: center;
    width: 100%;
    
}

.nombre {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 80px;
    color: #68aae0;
}


